@{
    ViewBag.Title = "View Employees";
}
<hgroup class="title">
    <h1>View Employees</h1>
</hgroup>
<div class="row-fluid">
	<div class="span5">
		<br />

		<header>
			<h3>Employee information:</h3>
		</header>

        <div class="control-group">
				<div class="controls"><button type="button" class="btn btn-primary pull-right" data-bind="click: sendMessage">Submit</button></div>
			</div>
        <div class="alert" data-bind="visible: showMessage, text: messageResponse, css: { 'alert-success': messageOk, 'alert-error': !messageOk() }"></div>
	</div>
	
@section Scripts {
	<script>
		function ViewEmployeesViewModel()
		{
			message = ko.observable();
			messageResponse = ko.observable();
			showMessage = ko.observable(false);
			messageOk = ko.observable(false);

			sendMessage = function ()
			{
				busyViewModel.IsBusy(true);
				$.get("/Home/ViewEmployees/", function (response) { handleSendMessage(response); });
			};

			handleSendMessage = function (messageData)
			{
				/*messageData =
				{
					isOk: false,
					errorMessage: "TO DO",

					fullName: fullName(),
					email: email(),
					message: message()
				};*/

				//alert(messageData.email);
				showMessage(true);
				if (messageData.isOk)
				{
					messageResponse("Thank you for you message. We will respond as soon as possible.");
					messageOk(true);
					busyViewModel.IsBusy(false);
					return;
				}

				messageResponse(messageData.errorMessage ? messageData.errorMessage : "An error prevented us from receiving your message. Please try again or call us for assistance.");
				messageOk(false);
				changeLocation("@Href("~/")");
			};
		};

		ko.applyBindings(new ViewEmployeesViewModel(), document.getElementById("bodyDiv"));

		$(document).ready(function ()
		{
			navBarViewModel.SelectedItemId(3); //Contact Us
			sideBarViewModel.SelectedItemId(3); //Contact Us
			busyViewModel.IsBusy(false);
		});
	</script>
}
